test/framework/xsd/start/node.xsd

<?xml version="1.0"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.w3school.com.cn"
        xmlns="http://www.w3school.com.cn"
        elementFormDefault="qualified">
    <xs:element name="node">
        <xs:complexType>
            <xs:all>
                <xs:element name="to" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
                <xs:element name="from" type="xs:string"></xs:element>
                <xs:element name="heading" type="xs:string"></xs:element>
                <xs:element name="body" type="xs:string"></xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>